<h3 class="customers_heading">Now in the Customers Index</h3>

<ul class="customers_list">
     {{#each customer in controller}}
       <li class="customer_name">{{#link-to 'customers.show' customer.id}}Name:{{/link-to}} {{customer.name}}</li>
       <li class="customer_email">Email: {{customer.email}}</li>
     {{/each}}
</ul>
