<!DOCTYPE html>
<html>
<head>

<title>Delucia Boxing</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>
  <div class="main row">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><strong>Delucia Boxing</strong></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <!-- <li class="active"><a href="#">Training</a></li> -->
          <li><a href="/#/status">Status</a></li>
          <li><a href="/#/home">Home</a></li>
          <!-- <li><a href="#">Bio</a></li>
          <li><a href="#">Facility</a></li> -->
          <li class="has-dropdown">
            <a href="#">Login</a>
            <ul class="dropdown">
              <li><a href="#">Customer Login</a></li>
              <li><a href="#">Admin Login</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <div class="ember-app"></div>

  </div>
</body>
</html>

