<h3 class="sessions_heading">Now in the Sessions Index</h3>
<ul class="sessions_list">
     {{#each session in controller}}
       <li>{{#link-to 'sessions.show' session.id}}Customer:{{/link-to}} {{session.customer_id}}</li>
       <li>Day: {{session.day}}</li>
       <li>Notes: {{session.notes}}</li>
     {{/each}}
</ul>
