<h3 class="customers_heading">Now in the Customers Index</h3>
<ul class="contacts_list">
     {{#each customer in controller}}
       <li>Name: {{name}}</li>
       <li>Email: {{email}}</li>
     {{/each}}
</ul>
