<h2 class="status_heading">This is the Status page</h2>
<p>{{#link-to 'appointments'}}Appointments{{/link-to}}</p>

<button {{action 'appointmentsShowing'}}>Appointments</button>

{{#if appointmentsShowing}}
{{partial 'appointments/status'}}
{{/if}}

<p>{{#link-to 'customers'}}Customers{{/link-to}}</p>
<button {{action 'customersShowing'}}>Customers</button>

{{#if customersShowing}}
{{partial 'customers/status'}}
{{/if}}
